* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Noto Serif", serif;
  scroll-behavior: smooth;
}

#navbar {
  display: flex;
   justify-content: flex-end;
   background-color: #096353;
   width:100vw;
   height:10vh;
   align-items:center;
   position: fixed;
   padding-right: 15px;
   flex-wrap: wrap;
   z-index: 1000;
}

.nav-link {
  padding: 2vw;
  font-size: 1rem;
  color: white;
}

a{
  text-decoration: none;
}

#welcome-section {
  padding-top: 11vh;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
  360deg,
    #096353,
    #0c9480);

}

h1 {
  color: white;
  font-weight: bold;
  padding-bottom: 1rem;
  font-size: 4rem;
  text-align: center;
}
p{
  color: #b8e6e6;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  flex-direction: column;
  flex-wrap: wrap;
}

#projects {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    180deg, 
    #096353, 
    #0d8f8f
  );
  padding-top: 12vh; 
}

h2 {
  text-align: center;
  
  font-size: 2.5rem;
  color: #d5f2f2;
  letter-spacing: 1px;
  padding-top: 20px;

}

.card img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.container-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding: 2rem;
  gap: 3rem;
}

.card {

  border: 2px solid white;
  padding: 20px;
  background-color: #548079;
  border-radius: 20px;
}

#contact {
  width: 100vw;
  min-height: 100vh;
  padding-top:12vh;
   background: linear-gradient(
    360deg, 
    #1e2e2c, 
    #0d8f8f
  );

}

.links{
  width:50%;
  padding-top: 16vh;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

i{
  padding: 5px;
  font-size: 3rem;
  color: #0e0736;
}

a{
  overflow: hidden;
}




a:hover {
    color: #54ffaa;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-color: #54ffaa ;
    z-index: 10;
    color: #54ffaa !;
}

.card:hover p {
  color: #54ffaa !important;
}

i:hover{
  color: #54ffaa;
  transform: scale(1.5);
}

.footer {
  text-align: center;
  margin-top: 50px;
  color: #d5f2f2;
  font-size: 0.9rem;
}

.empty {
  width: 60%;
  min-height: 15rem;
  margin: 0 auto;
  padding-top: 6rem;
  letter-spacing: 2px;
  overflow: hidden;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

#me-section {
  padding-top: 12vh;
  width: 100vw;
  min-height: 100vh;
 background: linear-gradient(
    180deg, 
    #096353, 
    #0d8f8f
  );
}

#achievements{
  padding-top: 12vh;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    360deg, 
    #096353, 
    #0d8f8f
  );
}

.me {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding: 3rem;
  letter-spacing: 2px;
}

h4{
  text-align: center;
  font-size: 1.2rem;
  padding: 2rem;
  color: #9edeb2;
}

#me-section h3 {
  text-align: center;
  color: #5ee087;
  font-size: 1.9rem;
}

.me-section-empty{
  width: 100%;
  padding-top: 3rem;
}

.skillset{
  width: 80%;
  overflow:hidden ;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
}

.card-cert{
  width: 31rem;
  height: 25rem;
}

.card-cert img {
  width: 100%;
  height: 21rem;
  object-position: center;
  border: 10px solid white;
  border-radius: 5px;
}

.cont-achivement{
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.cs{
  padding-bottom: 2rem;
}

@media only screen and (max-width: 1000px) {
  .me {
    width: 100%; 
    text-align: center;
    margin: 0 auto;
    padding: 3rem;
    letter-spacing: 2px;
  }
  .empty {
    width: 100%;
    min-height: 15rem;
    margin: 0 auto;
    padding-top: 6rem;
    letter-spacing: 2px;
    overflow: hidden;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .card img{
    width: 100%;
    height: 200px;
    object-position: center;
    border-radius: 20px;
  }

  .card-cert img {
    width: 100%;
    height: 13rem;
    object-position: center;
    border: 10px solid white;
    border-radius: 5px;
    overflow: hidden;
  }

  .card-cert{
    width: 20rem;
    height: 13rem;
    overflow: hidden;
  }

  .head-name{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  img {
    filter: contrast(100%) brightness(95%);
  }

}


img {
  filter: contrast(100%) brightness(95%);
}
